.black {
    background-color: black;
}

#orb{
  height: 300px;
  width: 300px;
  background-color: #blue;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
}

#background{
  height: 100%;
  width: 100%;
}

.grey-inside{
  background-color: #111111;
  border: 10px solid #222222;
  background-image: url("http://orig13.deviantart.net/3b0f/f/2011/235/6/b/the_sorting_hat_by_sahinduezguen-d47mwt5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.grey-background{
  background-color: #000000;
}


.red-inside{
  background-color: #3e181b;
  border: 10px solid #db1d2d;
  background-image: url("../images/Iconoclastes.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.orange-inside{
  background-color: #422018;
  border: 10px solid #f0421c;
  background-image: url("/images/Gaudium2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

/*.yellow-inside{
  background-color: #45391b;
  border: 10px solid #fec02d;
  background-image: url("/images/Gaudium2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65%;
}

.green-inside{
  background-color: #193c29;
  border: 10px solid #20d071;
  background-image: url("http://vignette4.wikia.nocookie.net/harrypotter/images/e/ef/Slytherin%E2%84%A2_Crest_(Painting).png/revision/latest?cb=20091129190321");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65%;
}*/

.blue-inside{
  background-color: #18323e;
  border: 10px solid #1a9ddb;
  background-image: url("/images/resnovae2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.purple-inside{
  background-color: #331f35;
  border: 10px solid #a13fad;
  background-image: url("/images/gratia3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.silver-inside{
  background-color: #C0C0C0;
  border: 10px solid #D3D3D3;
  background-image: url("/images/invictus3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.red-background{
  background-color: #661920;
}

.orange-background{
  background-color: #6e2819;
}

/*.yellow-background{
  background-color: #735b20;
}

.green-background{
  background-color: #1b613b;
}*/

.blue-background{
  background-color: #184d65;
}

.purple-background{
  background-color: #4e2753;
}

.silver-background{
  background-color: #808080;
}


.visible{
  background-color: #eaeff2;
}
